@model IEnumerable<PizzaApplication.Models.Pizza>
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">IsVeg</th>
            </tr>
        </thead>
        <tbody id="tbodyRows">
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        @Html.CheckBoxFor(m => item.IsVeg, new { @checked = @item.IsVeg })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>